@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: #edeff1;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

header {
  position: fixed;
  width: 100%;
  min-height: 50px;
  z-index: 1000;
  background: #fff;
  border-bottom: 1px solid #e4e6ea;
  top: 0;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.brand {
  color: #0149a1;
  font-size: 36px;
  font-weight: 300;
  display: inline-block;
  white-space: nowrap;
}

.brand .bold {
  font-weight: 700;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.nav li {
  margin-right: 15px;
  margin-top: 30px;
}

.nav a {
  line-height: 26px;
  font-size: 20px;
  text-decoration: none;
  font-weight: 400;
  color: #5d6981;
  padding: 10px 25px;
  display: block;
  border-radius: 23px;
  border: 1px solid transparent;
}

.nav a:hover, .nav a.active {
  border: 1px solid #9fabba;
}

.nav .social {
  margin-right: 5px;
}

.nav .social a {
  border-radius: 50%;
  border: 1px solid #9fabba;
  padding: 0;
  line-height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px;
}

.nav .social a svg {
  width: 20px;
}

.nav .social a.facebook {
  border-color: #3c5a99;
}

.nav .social a.facebook svg > path {
  fill: #3c5a99;
}

.nav .social a.facebook:hover {
  background: #3c5a99;
}

.nav .social a.facebook:hover svg > path {
  fill: #fff;
}

.nav .social a.twitter {
  border-color: #28aae1;
}

.nav .social a.twitter svg > path {
  fill: #28aae1;
}

.nav .social a.twitter:hover {
  background: #28aae1;
}

.nav .social a.twitter:hover svg > path {
  fill: #fff;
}

.nav li:last-child {
  margin-right: 0;
}

h1 {
  font-size: 72px;
  margin: 0;
  line-height: 1.5;
}

.section_top {
  padding: 140px 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#edeff1), color-stop(1%, #edeff1), color-stop(24%, #ffffff), color-stop(31%, #e2e4e8), to(#ffffff));
  background-image: linear-gradient(to top, #edeff1 0%, #edeff1 1%, #ffffff 24%, #e2e4e8 31%, #ffffff 100%);
  text-align: center;
  padding-top: 249px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 110px;
  color: #0149a1;
}

.section-title .reverse {
  color: #fff;
}

.section-title .description {
  color: #5d6981;
  font-weight: 300;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.column, .column_2 {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.column {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  max-width: 25%;
}

.column_2 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 50%;
}

.btn {
  display: inline-block;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  padding: 15px 65px;
  cursor: pointer;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.btn-red {
  background-color: #ff2d55;
  color: #fff;
}

.btn-red:hover {
  background-color: #d12546;
}

.btn-blue {
  background-color: #0149a1;
  color: #fff;
}

.btn-blue:hover {
  background-color: #013c84;
}

.btn-white {
  background-color: #fff;
  color: #0149a1;
}

.btn-white:hover {
  background-color: #e8e8e8;
}

.btn-shadow {
  -webkit-box-shadow: 0 0 50px 45px #fff;
          box-shadow: 0 0 50px 45px #fff;
}

.block {
  margin-top: 55px;
}

.block__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 95px;
}

.block__img img {
  margin: 0 auto;
}

.block__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 48px;
  color: #5d6981;
  margin-top: 55px;
}

.block__description {
  text-align: center;
  color: #7c8ca0;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}

.video-container {
  max-width: 1300px;
  position: relative;
  margin: 0 auto;
  margin-top: 115px;
  margin-bottom: 100px;
  padding-top: 30px;
}

.video-container::before, .video-container::after {
  position: absolute;
  content: "";
}

.video-container::before {
  background: url("../img/comment-bg.png");
  width: 490px;
  height: 390px;
  left: 0;
  z-index: 1;
  background-repeat: no-repeat;
  top: 10%;
}

.video-container::after {
  background: url("../img/light-bg.png");
  width: 350px;
  height: 430px;
  right: 0;
  z-index: 1;
  top: 5%;
  background-repeat: no-repeat;
}

.video-container .macbook-wrapper {
  width: 100%;
  max-width: 952px;
  margin: 0 auto;
  z-index: 2;
  position: relative;
}

.video-container .macbook {
  padding-top: 57.56%;
  background: url("../img/macbook.png");
  background-position: center;
  background-size: cover;
}

.video-container .macbook .screen-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 4.35%;
  padding-bottom: 6.4%;
  padding-left: 12%;
  padding-right: 12%;
}

.video-container .macbook .screen {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.section_creativity {
  background: url("../img/creativity.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 15%;
  padding-bottom: 10%;
  text-align: center;
}

.section_work {
  background-color: #0149a1;
  padding-top: 130px;
  padding-bottom: 130px;
  text-align: center;
}

.section_work .section-title {
  margin-bottom: 115px;
}

.section_work .section-title .description {
  color: #5483bb;
}

.work {
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 100px;
}

.work__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}

.work p {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: justify;
}

.work p:last-child {
  margin-bottom: 0;
}

.section_reviews {
  background-color: #ffffff;
  padding-top: 100px;
  padding-bottom: 80px;
}

.section_reviews .controls .previous_review,
.section_reviews .controls .next_review {
  width: 75px;
  height: 75px;
  border: 2px solid #e3e7eb;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  margin-top: -37.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.section_reviews .controls .previous_review::after,
.section_reviews .controls .next_review::after {
  content: "";
  width: 35px;
  height: 35px;
  background: url(../img/control_arrow.png);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
}

.section_reviews .controls .previous_review {
  left: 0;
}

.section_reviews .controls .previous_review::after {
  margin-left: -4px;
}

.section_reviews .controls .next_review {
  right: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.section_reviews .controls .next_review::after {
  margin-right: 4px;
}

.section_reviews .dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

.section_reviews .dots .dot {
  width: 20px;
  height: 20px;
  border: 1px solid #7c8ca0;
  border-radius: 50%;
  opacity: 0.4;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}

.section_reviews .dots .dot:last-child {
  margin-right: 0;
}

.section_reviews .dots .dot:hover::after, .section_reviews .dots .dot.active::after {
  background-color: #202635;
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: 1px;
  left: 1px;
}

.section_reviews .reviews {
  padding: 0 80px;
  position: relative;
  padding-bottom: 100px;
}

.section_reviews .review {
  color: #7c8ca0;
  text-align: center;
  max-width: 570px;
  margin: 0 auto;
}

.section_reviews .review__author-avatar {
  display: inline-block;
}

.section_reviews .review__text {
  font-style: italic;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  margin: 35px 0;
}

.section_reviews .review__author {
  font-size: 18px;
  font-weight: 300;
}

.hamburger {
  display: none;
}

.hamburger .line {
  width: 35px;
  height: 4px;
  background-color: #0149a1;
  display: block;
  margin: 4px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger.active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .line:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}

.hamburger.active .line:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}

.section_team {
  padding-top: 140px;
  padding-bottom: 130px;
  text-align: center;
}

.section_team .blocks {
  margin-bottom: 90px;
}

.section_map {
  height: 590px;
  background: #fff;
}

footer {
  background-color: #0149a1;
  padding: 90px 0 45px 0;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
}

footer ul {
  list-style: none;
  margin-bottom: 20px;
}

@media (max-width: 1000px) {
  .video-container::before, .video-container::after {
    display: none;
  }
}

@media (max-width: 1100px) {
  header .container {
    display: block;
    text-align: center;
    padding-top: 30px;
  }
  .section_top {
    padding-top: 329px;
  }
  nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 780px) {
  .column {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .column_2 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
  .macbook img {
    display: none;
  }
}

@media (min-width: 1921px) {
  .section_creativity {
    padding-top: 355px;
    padding-bottom: 200px;
  }
}

@media (max-width: 576px) {
  header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: ceneter;
        -ms-flex-align: ceneter;
            align-items: ceneter;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header .container .hamburger {
    display: block;
    margin-bottom: 30px;
  }
  header nav {
    max-height: 0;
    width: 100%;
    overflow: hidden;
    padding-bottom: 0;
  }
  header .nav {
    display: block;
    width: 100%;
  }
  header .nav li {
    margin: 15px 0 0 0;
  }
  header .nav li.social {
    display: inline-block;
    margin-right: 15px;
  }
  header .nav li.social:last-child {
    margin-right: 0;
  }
  html.menu_opened nav {
    max-height: 100vh;
    padding-bottom: 30px;
  }
  .video-container {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .video-container .macbook {
    background: none;
  }
  .video-container .macbook .screen-wrapper {
    padding: 0 15px;
  }
  .brand {
    margin-bottom: 30px;
  }
  .block {
    margin-top: 30px;
  }
  .block__title {
    margin-top: 20px;
  }
  .section_work {
    padding: 40px 0;
  }
  .section_work .section-title {
    margin-bottom: 55px;
  }
  .section-title {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .section-title h1 {
    font-size: 34px;
  }
  .btn-shadow {
    -webkit-box-shadow: 0 0 20px 15px #fff;
            box-shadow: 0 0 20px 15px #fff;
  }
  .section_top {
    padding-top: 140px;
    padding-bottom: 40px;
  }
  .section_reviews .reviews {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 50px;
  }
  .section_reviews {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .section_team {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .section_team .blocks {
    margin-bottom: 50px;
  }
  footer {
    padding: 45px 0;
  }
  .section_reviews .controls .next_review,
  .section_reviews .controls .previous_review {
    display: none;
  }
  .work {
    margin-bottom: 40px;
  }
  .work__img {
    margin-bottom: 40px;
  }
  .column {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */