.page-header {
  background: url("~assets/images/header-bg.png") top center no-repeat;
  background-size: cover;
  color: $color-white;
  padding-bottom: 20px;
  position: relative;

  @include screen-max(laptop){
    padding-bottom: 50px;
  }

  &__nav {
    padding: 20px 0;

    .button {
      padding: 10px 26px;
      border-radius: 18px;
      box-shadow: none;

      @include screen-max(mobile) {
        padding: 10px 20px;
      }

    }
  }

  @include screen-max(mobile) {
    &__logo {
      margin-right: 10px;
    }
  }

  &__title {
    margin-top: 100px;
    font-weight: 800;
    line-height: 1;
    text-transform: uppercase;
    padding-bottom: 50px;
    margin-bottom: 50px;
    position: relative;
    letter-spacing: 6.48px;

    @include screen-max(mobile){
      font-size: 2rem;
    }

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 170px;
      height: 8px;
      background: $color-white;
    }

    &-big {
      font-size: 7.1rem;
      letter-spacing: 2px;
      display: block;
      margin-bottom: 20px;
      text-shadow: 5px 20px 10px rgba($color-content, .3);

      &-color {
        color: $color-header-title;
      }

      @include screen-max(tablet){
        font-size: 5rem;
      }

      @include screen-max(mobile){
        font-size: 3rem;
      }
    }

    @include screen-max(laptop){
      margin-top: 50px;
      margin-bottom: 80px;
      text-align: center;

      &::after{
        left: 50%;
        margin-left: -85px;
      }
    }

    @include screen-max(mobile){
      padding-bottom: 30px;
    }
  }

  &__description {
    color: $color-white;
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: 1.12px;
    line-height: 2.5rem;
    margin-bottom: 80px;
    max-width: 450px;

    @include screen-max(laptop){
      margin: 0 auto 80px;
      text-align: center;
    }

    @include screen-max(mobile){
      margin-bottom: 40px;
    }
  }

  &__button {
    margin-bottom: 30px;

    & + & {
      margin-left: 30px;
    }

    @include screen-max(mobile){
      max-width: 290px;
      display: block;
      margin: 0 auto 25px;
      text-align: center;
      &+&{
        margin-left: auto;
      }
    }
  }

  &__wrapper {
    max-width: 1600px;
    padding: 0 15px 0 185px;
    margin: 0 auto;
    display: flex;

    @include screen-max(1600px){
      max-width: 100%;
      padding-left: calc((100vw - #{$container-width}) / 2);
    }

    @include screen-max(laptop){
      flex-direction: column;
      padding: 0;

      .wrapper{
        order: 2;
      }
    }
  }

  &__texts {
    flex-shrink: 0;
  }

  &__image {
    flex: 1;
    display: flex;
    align-items: flex-end;
    margin-left: 40px;
    margin-top: -120px;
    img {
      max-width: 100%;
    }

    @include screen-max(laptop){
      margin: 0 0 80px;
      justify-content: center;
      order: 1;
      padding: 0 15px;
    }

    @include screen-max(mobile){
      margin-bottom: 40px;
    }

  }
}
