.page-hero{
  display: flex;
  flex-wrap: nowrap;
  position: relative;

  &__social{
    padding: 30px 45px 30px 36px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: .3s;

    &-link{
      height: 22px;
      display: block;
      color: $color-header-icons-clor;
      cursor: pointer;
      transition: transform .3s;

      &+&{
        margin-top: 30px;
      }

      svg{
        fill: currentColor;
        height: 100%;
      }

      &:hover{
        color: $color-primary;
      }
    }

    @include screen-max(laptop){
      transform: translateX(-100%);
      display: none;
    }

  }

  &__content{
    flex: 1;
    position: relative;
    text-align: center;
    padding: 225px 15px 200px;

    @include screen-max(tabletXl){
      padding-top: 120px;
      padding-bottom: 100px;
    }

    @include screen-max(tablet){
      padding: 40px 0;
    }
  }

  &__bg{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    &-img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: linear-gradient(63deg, $color-primary 0%, $color-secondary 100%);
      opacity: 0.65;
    }
  }

  &__title{
    color: $color-white;
    max-width: 710px;
    margin: 0 auto;

    @include screen-max(tablet){
      font-size: 3rem;
    }

    @include screen-max(mobile){
      font-size: 2rem;
    }
  }

  &__button{
    padding: 25px 68px;
    font-size: 1.15rem;

    margin: 45px 0 100px;

    @include screen-max(tabletXl){
      padding: 20px 50px;
      margin-bottom: 60px;
    }

    @include screen-max(tablet){
      padding: 10px 20px;
      margin-bottom: 30px;
    }

  }

}
