//=== COLORS ===
$color-shadow-primary: #dadefe;
$color-primary: #4458fa;
$color-white: #ffffff;
$color-dots: #cccccc;
$color-content-light: #999999;
$color-black: #000000;
$color-secondary: #5ed6ee;
$color-header-title: #a7c8fa;
$color-content: #3a3a3a;
$color-content-lighter: #818181;
$color-sky: #f7fdfe;
$color-footer-text: #626681;
$color-button-text: #1976d2;
$color-footer-bg: #282c48;
$color-link: #4d5ed7;
//=== /COLORS ===

$container-width: 1230px;

//=== SIZING ===
$font-size: 14px;
$line-height: 1.7;
//=== /SIZING ===

$breakpoints: (
        "mobileXs": 470px,
        "mobile": 576px,
        "tablet": 768px,
        "tabletXl": 980px,
        "laptop": 1200px,
);

