.slider{
  position: relative;
  width: 100%;
  padding: 0 100px;
  //margin-left: auto;
  //margin-right: auto;
  //overflow: hidden;
  //list-style: none;
  //padding: 0 100px;
  //z-index: 1;

  .swiper-wrapper{
    //width: calc(100% - 100px);
  }

  &__button{
    width: 60px;
    height: 60px;
    border: 2px solid $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
    cursor: pointer;
    transition: .3s;

    @include screen-max(tablet){
      width: 40px;
      height: 40px;
    }

    svg{
      width: 10px;
      height: 16px;
      fill: $color-white;
    }

    &_left{
      border-radius: 0 18px;
      left: 0;
    }

    &_right{
      border-radius: 18px 0;
      right: 0;
    }

    &:focus,
    &:hover{
      background: $color-white;

      svg{
        fill: $color-primary;
      }
    }
  }

  &_gradient{
    .slider__button{
      box-shadow: -7px 7px 30px rgba(34, 34, 34, 0.1);
      background: $color-white;
      svg{
        fill: url(#gradient);
      }

      &:focus,
      &:hover{
        border-color: $color-primary;
      }
    }
  }

  &_with-dots{
    margin-bottom: 90px;
  }

  &__dots{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .swiper-pagination-bullet{
    margin: 0 7px;
    width: 6px;
    height: 6px;
    background-color: $color-dots;
    border-radius: 50%;
    transition: .3s;

    &-active{
      width: 10px;
      height: 10px;
      background-color: $color-primary;
    }
  }

  @include screen-max(tablet){
    padding: 0 55px;
  }

  @include screen-max(mobile){
    padding: 0;

    &__dots{
      margin-top: 40px;
    }

    &_with-dots{
      margin-bottom: 50px;
    }

    &__button{
      display: none;
    }
  }

}
