.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  color: inherit;
  border: 1px solid transparent;
  line-height: 1;
  white-space: nowrap;
  box-shadow: -7px 7px 30px rgba(34, 34, 34, 0.25);
  border-radius: 30px;
  background-color: $color-white;
  padding: 21px 70px;
  position: relative;
  cursor: pointer;
  transition: .3s;
  outline: none;
  text-align: center;

  @include screen-max(tablet){
    padding: 17px 50px;
    white-space: normal;
  }

  @include screen-max(mobile){
    padding: 13px 20px;
  }

  &:focus,
  &:hover{
    background: rgba($color-primary, 1);
    border-color: $color-primary;

    .button__text{
      &_gradient {
        background: linear-gradient(to right, $color-white 0%, $color-white 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: tranparent;
        color: $color-white;
      }
    }
  }

  &__text {
    color: $color-button-text;
    letter-spacing: 2.56px;
    display: inline-flex;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: -5px;
    margin-right: -5px;

    &_gradient {
      background: linear-gradient(to right, $color-primary 0%, $color-secondary 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-fill-color: tranparent;
      color: $color-primary;
    }

    &_white{
      color: $color-white;
    }
  }

  &_transparent{
    background: rgba($color-white,0.3);

    &:focus,
    &:hover {
      background: rgba($color-primary, 1);
    }
  }

  &_no-shadow{
    box-shadow: none;
  }

  &_medium{
    padding: 16px 42px;
  }

  &__icon{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }

  &_outline {
    background: transparent;
    color: $color-white;
    border-color: $color-white;

    &-gradient{
      border: 1px;
      &::after{
        display: block;
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: -1;
        margin: -1px;
        border-radius: inherit;
        background: linear-gradient(to right, #4458fa 0%, #5ed6ee 100%);
      }
    }
  }
}
