.clients{
  background-color: $color-body-bg;
  padding-top: 45px;
  padding-bottom: 65px;
  text-align: center;

  &__title{
    @include font-tertiary();
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 30px;
    color: $color-gray-dark;
    letter-spacing: 6.86px;
  }

  &__description{
    letter-spacing: 3.6px;
    color: $color-gray-dark;
    max-width: 768px;
    margin: 0 auto 50px;
  }

  .swiper-slide{
    max-width: 20%;

    @include screen-max(mobile){
      max-width: 40%;
    }

    @include screen-max(mobileXs){
      max-width: 60%;
    }
  }

  &__client{
    height: 70px;
    display: inline-flex;
    align-items: center;
    img{
      display: block;
      max-width: 100%;
    }
  }
}
