html{
  font-size: $font-size;
  line-height: $line-height;
}

body{
  @include font-primary();
  font-size: 1rem;
  color: $color-content;
}

.wrapper{
  max-width: $container-width;
  padding: 0 15px;
  margin: 0 auto;
}

h1{
  @include font-secondary();
  font-size: 5rem;
  line-height: 1.25;
  color: $color-heading;

  @include screen-max(tabletXl){
    font-size: 4.5rem;
  }
}

h2{
  @include font-secondary();
  font-size: 4.5rem;
  line-height: 1.25;
  color: $color-heading;
  text-align: center;

  @include screen-max(tabletXl){
    font-size: 3.75rem;
  }

  @include screen-max(tablet){
    font-size: 3rem;
  }

  @include screen-max(mobile){
    font-size: 2rem;
  }
}

h3{
  @include font-secondary();
  font-size: 3.75rem;
  line-height: 1.25;
  color: $color-heading;
  text-align: center;

  @include screen-max(tabletXl){
    font-size: 3rem;
  }

  @include screen-max(tablet){
    font-size: 2.5rem;
  }

  @include screen-max(mobile){
    font-size: 1.75rem;
  }
}
