.page-hero{
  background: $color-sky;
  padding-bottom: 50px;

  &__menu{
    padding-top: 30px;
    padding-bottom: 30px;

    @include screen-max(tabletXl){
      justify-content: space-between;
      .page-nav__item{
        &+.page-nav__item, &:last-child{
          margin-left: 0;
        }

        &:last-child{
          color: $color-primary;
        }
      }
    }

    @include screen-max(tablet){
      display: none;
    }
  }

  &__content{
    margin-top: 40px;
    display: flex;
    align-items: center;

    @include screen-max(tablet){
      display: block;
      padding-top: 40px;
      margin: 0;
    }
  }

  &__image{
    display: flex;
    align-items: center;
    justify-content: center;

    img{
      max-width: 100%;
    }

  }

  &__form{
    min-width: 370px;
    margin-left: 50px;
    flex: 1;
    @include font-secondary();
    text-align: center;
    padding: 30px 25px;

    &-title{
      font-size: 1.22rem;
      color: $color-primary;
      margin-bottom: 30px;
      text-transform: uppercase;
      letter-spacing: 2.2px;
      user-select: none;
    }

    .textarea{
      height: 90px;
    }

    &-row{
      margin-bottom: 25px;

      @include screen-max(mobile){
        margin-bottom: 15px;
      }
    }

    @include screen-max(tablet){
      max-width: 520px;
      min-width: auto;
      margin: 20px auto 0;
    }

    @include screen-max(mobile){
      padding: 30px 10px;
    }
  }
}
